body{
        background-color: #9CAF88;
        padding-top : 100px;
    }
p em {
    color : #601C2E;
    font-style :normal;
}
p { 
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#container {
    display : flex;
}
nav {
    flex: 0, 1, 30%;
    font-size: large;
    font-style: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100px;
}
main {
    flex: 0, 1, 40%;
    background-color: lightgray;
    text-align: center;
    padding-left: 100px;
    padding-top : 50px;
}
aside {
    flex: 0, 1, 30%;
    
}
p span{
    color : rgb(30, 128, 0);
    font-weight: bold;
}
section{
    margin-top : 50px;
    margin-left : 20px;
}
table, td, th{
    padding : 8px;
    border : 5px solid black;
}
footer{
    font-size: large;
    font-style: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:#9CAF88;
    height: 100px;
    text-align: center;
}
.collapsible{
    background-color: #819170;
    color: #819170;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active, .collapsible:hover{
    background-color: #819170;
}
.content
{
    display: none;
    overflow: hidden;
    background-color: #9CAF88;
}